<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Add Column</title>
</head>
<body>
<h2>  Add Column </h2>
<div class="col-sm-5 form-group-lg">
    <form id="column_form" method="POST" action="{% url 'add_column' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Title</label>
            <input name="title" type="text" class="form-control" id="id_title" placeholder="Enter title">
        </div>     
        <div class="form-group">
            <label for="id_icon">Icon</label>
            <select id="id_icon" name="icon" class="form-control">
                <option value="" disabled selected>Choose your option</option>
                <option value="filter_none" > Default </option>
                <option value="report_problem"> Alert </option>
                <option value="build"> In progress </option>
                <option value="check_circle"> Done </option>
                <option value="delete"> Gone </option>
                <option value="announcement"> Announcement </option>
                <option value="info"> Info </option>
                <option value="view_list"> List </option>
            </select>
        </div>   
        <div class="form-group">
            <label for="id_palette">Pallete</label>
            <select id="id_palette" name="palette" class="form-control">
                <option value="" disabled selected>Choose your option</option>
                <option value="kanban To-do" > Yellow </option>
                <option value="kanban progress"> Blue </option>
                <option value="kanban  Done"> Green </option>
                <option value="kanban Gone"> Red </option>
            </select>
        </div>      
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</div>


</body>

</html>