<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Add Column</title>
</head>
<body>
<h2>  Add Column </h2>
<div class="col-sm-5 form-group-lg">
    <form id="column_form" method="POST" action="{% url 'add_column' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Title</label>
            <input name="title" type="text" class="form-control" id="id_title" placeholder="Enter title">
        </div>     
        <div class="form-group">
            <label for="id_icon">Icon</label>
            <input name="icon" type="text" class="form-control" id="id_icon" placeholder="Enter icon">
        </div>   
        <div class="form-group">
            <label for="id_palette">Pallete</label>
            <input name="palette" type="text" class="form-control" id="id_palette" placeholder="Enter palette">
        </div>      
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>

</html>